# Analysis and Visualization of Test Data from SpreadSheets Excel

## Подключаем нужные библиотеки все сразу
### для запуска всего проекта

In [3]:
# Pandas & Numpy
import pandas as pd
import numpy as np
import sys

# Для работы с форматом даты и временными рядами, строковыми форматами и генерацией случайных величин
from datetime import datetime, timedelta, date, time
from io import StringIO
import random

# Для работы с HTML кодом в Python используют модуль etree:
from urllib.request import urlopen
from lxml import etree
from openpyxl import Workbook

# Подключаем библиотеку для парсинга сайтов !!!!!!!!!!!!!
import requests

# Подключаем библиотеку для поиска элементов кода на сайте !!!!!!!!!!!!!
from bs4 import BeautifulSoup

# Подключаем библиотеку для соединения с google-таблицами !!!!!!!!!!!!!
import gspread

# Vizualization - Seaborn & MatPlotLib
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

# Generating New Test Data

## Data Option 1

### Random Date Functions

#### 1 Beginning of the Period

In [6]:
def entry_start():
    date_entry = input('Enter the START-date in DD.MM.YYYY format: ')
    day, month, year = map(int, date_entry.split('.'))
    date_start = datetime(year, month, day).date()

    return date_start

In [3]:
entry_start()
# print(entry_start())

Enter a START-date in DD.MM.YYYY format01.01.2024

datetime.date(2024, 1, 1)

In [7]:
print(entry_start())

Enter a START-date in DD.MM.YYYY format: 21.10.2024
2024-10-21

#### 2 End of the Period

In [10]:
def entry_end():
    date_entry = input('Enter the END-date in DD.MM.YYYY format: ')
    day, month, year = map(int, date_entry.split('.'))
    date_end = datetime(year, month, day).date()

    return date_end

In [8]:
# entry_end()
# print(entry_start())

In [9]:
# print(entry_end())

#### 3 Random Date from the Selected period

In [11]:
def random_date(start_date, end_date):
    df = start_date + timedelta(days=random.randint(0, (end_date - start_date).days))
    df = df.strftime("%d.%m.%Y")
    
    return df

In [12]:
print(random_date(entry_start(), entry_end()))

Enter a START-date in DD.MM.YYYY format: 01.01.2024
Enter the END-date in DD.MM.YYYY format: 31.01.2024
19.01.2024

### 4 Random Time Function

In [13]:
def random_time():
    sec_mins = ['00', '01', '02', '03', '04', '05', '06', '07','08', '09',
               '10', '11', '12', '13', '14', '15', '16', '17','18', '19',
               '20', '21', '22', '23', '24', '25', '26', '27','28', '29',
               '30', '31', '32', '33', '34', '35', '36', '37','38', '39',
               '40', '41', '42', '43', '44', '45', '46', '47','48', '49',
               '50', '51', '52', '53', '54', '55', '56', '57','58', '59']

    hours = ['08', '09', '10', '11', '12', '13', '14', '15','16', '17']

    second = random.choice(sec_mins)
    minute = random.choice(sec_mins)
    hour = random.choice(hours)

    df = ":".join([hour, minute, second])
    
    return df

In [14]:
print(random_time())

17:47:42

## Для этой функции нужны результаты вспомогательных функций

In [15]:
def visits():
# Сформируем список из случайных дат:
    number_of_visits = random.randint(700, 1000)
    dates_of_visits = []
    
    # Интервал между датами задаем функциями:
    start_date = entry_start()
    end_date = entry_end()
    
    # Списки анкетных данных:
    knowledge_source = ['Соц.сети', 'Реклама', 'От знакомых', 'Случайно']
    visits = ['Несколько раз в неделю', 'Один раз в неделю', 'Несколько раз в месяц', 'Несколько раз в год']
    staffs = ['Приятный', 'Нейтральный', 'Неприятный']
    procedures = ['Парикмахер', 'Лешмейкер', 'Бровист', 'Маникюр', 'Педикюр',
                  'Массаж', 'Косметолог', 'Солярий', 'Соляная комната']
    prices = ['Низкие', 'Приемлемые', 'Высокие', 'Недоступные']
    offers = ['',
              'нет',
              'Нет замечаний',
              'Сложно записаться на выходные дни',
              'Сомнительная чистота в зале',
              'Поставьте музыку в зале',
              'Нет предложений',
              'Плохое освещение в санитарной комнате',
              'Сделайте Wi-Fi в салоне']
    genders = ['Женский', 'Мужской']
    ages = ['от 18 до 25', 'от 26 до 35', 'от 36 до 45', 'от 46 до 55', '55+']
    statuses = ['Студент', 'Служащий', 'Рабочий', 'Предприниматель',
                'Домохозяйка', 'Безработный', 'Пенсионер']
    incomes = ['менее 30 тысяч', 'от 30 тысяч до 100 тысяч', 'более 100 тысяч']
    
    # Основной цикл - зависит от общего количества визитов за выбранный период:
    while len(dates_of_visits) < number_of_visits:
    # number_of_procedures (nop)
        nop = random.randint(1, 4)
        procedure = []
    #     print('nop=', nop)
        procedures = ['Парикмахер', 'Лешмейкер', 'Бровист', 'Маникюр', 'Педикюр',
                      'Массаж', 'Косметолог', 'Солярий', 'Соляная комната']
    
    # Используем ранее объявленные функции для генерации даты и времени:
        date_of_visits = random_date(start_date, end_date)
        time_of_visits = random_time()
    
    # Остальные столбцы:
        knowledge = random.choice(knowledge_source)
        visit = random.choice(visits)
        staff = random.choice(staffs)
        quality = random.randint(1, 5)
        price = random.choice(prices)
        offer = random.choice(offers)
        gender = random.choice(genders)
        age = random.choice(ages)
        status = random.choice(statuses)
        income = random.choice(incomes)
    
    # Процедуры (множественный выбор):
        i = 0
        while i < nop:
            procedure_one = []
            procedure_one.append(random.choice(procedures))
    #         print(procedure_one, 'type(procedure_one) = ', type(procedure_one))
            procedure.append(procedure_one[0])
            procedures.remove(procedure_one[0])
            i+=1
    
    # Формируем список списков из анкетных данных:
    # Список PROCEDURE сразу преобразуем в строку !!!!!
        dates_of_visits.append([date_of_visits, time_of_visits, knowledge, visit,
                                  staff, ', '.join(map(str, procedure)), quality, price,
                                  offer, gender, age, status, income])
    
    print('Количество визитов - {}; Начало периода - {}; Окончание периода - {}'.format(number_of_visits, 
                                                                                        start_date, 
                                                                                        end_date))
    
    # создаем и выводим DataFrame с данными о сотрудниках
    form = pd.DataFrame(dates_of_visits, columns=['Дата визита', 'Время визита', 'Откуда узнали', 'Частота посещений',
                                                  'Персонал', 'Процедуры', 'Оценка услуги', 'Оценка цен',
                                                  'Предложения', 'Пол', 'Возраст', 'Статус', 'Доход'])
    form["Дата и время"] = form[["Дата визита", "Время визита"]].agg(" ".join, axis=1)
    
    # сортируем данные по столбцу 'Дата визита' 
    form = form.sort_values(['Дата визита', 'Время визита'], ascending=[True, True])

#    form_4.to_excel("visits.xlsx", sheet_name='beauty_visits')
    return form

In [17]:
form = visits()

Enter a START-date in DD.MM.YYYY format: 01.01.2024
Enter the END-date in DD.MM.YYYY format: 31.01.2024
Количество визитов - 982; Начало периода - 2024-01-01; Окончание периода - 2024-01-31

In [18]:
form.head(3)

,Дата визита,Время визита,Откуда узнали,Частота посещений,Персонал,Процедуры,Оценка услуги,Оценка цен,Предложения,Пол,Возраст,Статус,Доход,Дата и время
608,01.01.2024,08:01:27,Случайно,Несколько раз в год,Нейтральный,Маникюр,3,Низкие,Плохое освещение в санитарной комнате,Женский,от 36 до 45,Предприниматель,менее 30 тысяч,01.01.2024 08:01:27
556,01.01.2024,08:02:14,Случайно,Несколько раз в месяц,Неприятный,Массаж,3,Высокие,Сложно записаться на выходные дни,Женский,55+,Студент,менее 30 тысяч,01.01.2024 08:02:14
638,01.01.2024,08:11:22,От знакомых,Несколько раз в месяц,Неприятный,"Массаж, Соляная комната, Косметолог, Лешмейкер",5,Высокие,Сделайте Wi-Fi в салоне,Мужской,от 46 до 55,Домохозяйка,менее 30 тысяч,01.01.2024 08:11:22

In [ ]:
# При необходимости сохраняем результаты генерации в Excel-файл в этой же папке на диске
# form.to_excel("visits_5.xlsx", sheet_name='beauty_visits')

## Функция VISITS_MASTER содержит в себе ВСЕ вспомогательные функции

In [19]:
def visits_master():
# Сформируем список из случайных дат:
    number_of_visits = random.randint(700, 1000)
    dates_of_visits = []
    
# AUXILIARY FUNCTIONS !!!!!
# 1 Beginning of the Period    
    def entry_start():
        date_entry = input('Enter the START-date in DD.MM.YYYY format: ')
        day, month, year = map(int, date_entry.split('.'))
        date_start = datetime(year, month, day).date()
        return date_start

# 2 End of the Period
    def entry_end():
        date_entry = input('Enter the END-date in DD.MM.YYYY format: ')
        day, month, year = map(int, date_entry.split('.'))
        date_end = datetime(year, month, day).date()
        return date_end
    
# 3 Random Date from the Selected period
    def random_date(start_date, end_date):
        df = start_date + timedelta(days=random.randint(0, (end_date - start_date).days))
        df = df.strftime("%d.%m.%Y")
        return df
    
# 4 Random Time Function
    def random_time():
        sec_mins = ['00', '01', '02', '03', '04', '05', '06', '07','08', '09',
                   '10', '11', '12', '13', '14', '15', '16', '17','18', '19',
                   '20', '21', '22', '23', '24', '25', '26', '27','28', '29',
                   '30', '31', '32', '33', '34', '35', '36', '37','38', '39',
                   '40', '41', '42', '43', '44', '45', '46', '47','48', '49',
                   '50', '51', '52', '53', '54', '55', '56', '57','58', '59']

        hours = ['08', '09', '10', '11', '12', '13', '14', '15','16', '17']

        second = random.choice(sec_mins)
        minute = random.choice(sec_mins)
        hour = random.choice(hours)

        df = ":".join([hour, minute, second])
        return df

# FINISH OF AUXILIARY FUNCTIONS !!!!!
    
    # Интервал между датами задаем функциями:
    start_date = entry_start()
    end_date = entry_end()
    
    # Списки анкетных данных:
    knowledge_source = ['Соц.сети', 'Реклама', 'От знакомых', 'Случайно']
    visits = ['Несколько раз в неделю', 'Один раз в неделю', 'Несколько раз в месяц', 'Несколько раз в год']
    staffs = ['Приятный', 'Нейтральный', 'Неприятный']
    procedures = ['Парикмахер', 'Лешмейкер', 'Бровист', 'Маникюр', 'Педикюр',
                  'Массаж', 'Косметолог', 'Солярий', 'Соляная комната']
    prices = ['Низкие', 'Приемлемые', 'Высокие', 'Недоступные']
    offers = ['',
              'нет',
              'Нет замечаний',
              'Сложно записаться на выходные дни',
              'Сомнительная чистота в зале',
              'Поставьте музыку в зале',
              'Нет предложений',
              'Плохое освещение в санитарной комнате',
              'Сделайте Wi-Fi в салоне']
    genders = ['Женский', 'Мужской']
    ages = ['от 18 до 25', 'от 26 до 35', 'от 36 до 45', 'от 46 до 55', '55+']
    statuses = ['Студент', 'Служащий', 'Рабочий', 'Предприниматель',
                'Домохозяйка', 'Безработный', 'Пенсионер']
    incomes = ['менее 30 тысяч', 'от 30 тысяч до 100 тысяч', 'более 100 тысяч']
    
    # Основной цикл - зависит от общего количества визитов за выбранный период:
    while len(dates_of_visits) < number_of_visits:
    # number_of_procedures (nop)
        nop = random.randint(1, 4)
        procedure = []
    #     print('nop=', nop)
        procedures = ['Парикмахер', 'Лешмейкер', 'Бровист', 'Маникюр', 'Педикюр',
                      'Массаж', 'Косметолог', 'Солярий', 'Соляная комната']
    
    # Используем ранее объявленные функции для генерации даты и времени:
        date_of_visits = random_date(start_date, end_date)
        time_of_visits = random_time()
    
    # Остальные столбцы:
        knowledge = random.choice(knowledge_source)
        visit = random.choice(visits)
        staff = random.choice(staffs)
        quality = random.randint(1, 5)
        price = random.choice(prices)
        offer = random.choice(offers)
        gender = random.choice(genders)
        age = random.choice(ages)
        status = random.choice(statuses)
        income = random.choice(incomes)
    
    # Процедуры (множественный выбор):
        i = 0
        while i < nop:
            procedure_one = []
            procedure_one.append(random.choice(procedures))
    #         print(procedure_one, 'type(procedure_one) = ', type(procedure_one))
            procedure.append(procedure_one[0])
            procedures.remove(procedure_one[0])
            i+=1
    
    # Формируем список списков из анкетных данных:
    # Список PROCEDURE сразу преобразуем в строку !!!!!
        dates_of_visits.append([date_of_visits, time_of_visits, knowledge, visit,
                                  staff, ', '.join(map(str, procedure)), quality, price,
                                  offer, gender, age, status, income])
    
    print('Количество визитов - {}; Начало периода - {}; Окончание периода - {}'.format(number_of_visits, 
                                                                                        start_date, 
                                                                                        end_date))
    
    # создаем и выводим DataFrame с данными о сотрудниках
    form = pd.DataFrame(dates_of_visits, columns=['Дата визита', 'Время визита', 'Откуда узнали', 'Частота посещений',
                                                  'Персонал', 'Процедуры', 'Оценка услуги', 'Оценка цен',
                                                  'Предложения', 'Пол', 'Возраст', 'Статус', 'Доход'])
    form["Дата и время"] = form[["Дата визита", "Время визита"]].agg(" ".join, axis=1)
    
    # сортируем данные по столбцу 'Дата визита' 
    form = form.sort_values(['Дата визита', 'Время визита'], ascending=[True, True])

#    form_4.to_excel("visits.xlsx", sheet_name='beauty_visits')
    return form

In [20]:
form_master = visits_master()

Enter the START-date in DD.MM.YYYY format: 01.02.2024
Enter the END-date in DD.MM.YYYY format: 28.02.2024
Количество визитов - 831; Начало периода - 2024-02-01; Окончание периода - 2024-02-28

In [21]:
form_master.head(3)

,Дата визита,Время визита,Откуда узнали,Частота посещений,Персонал,Процедуры,Оценка услуги,Оценка цен,Предложения,Пол,Возраст,Статус,Доход,Дата и время
744,01.02.2024,08:00:04,Реклама,Один раз в неделю,Нейтральный,"Массаж, Парикмахер",2,Приемлемые,Плохое освещение в санитарной комнате,Женский,от 26 до 35,Безработный,от 30 тысяч до 100 тысяч,01.02.2024 08:00:04
654,01.02.2024,08:35:27,Случайно,Несколько раз в год,Нейтральный,"Массаж, Соляная комната, Солярий",3,Приемлемые,Плохое освещение в санитарной комнате,Женский,от 18 до 25,Служащий,более 100 тысяч,01.02.2024 08:35:27
279,01.02.2024,08:37:13,От знакомых,Несколько раз в год,Неприятный,"Массаж, Солярий, Лешмейкер",5,Высокие,,Женский,55+,Студент,менее 30 тысяч,01.02.2024 08:37:13

In [ ]:
# При необходимости сохраняем результаты генерации в Excel-файл в этой же папке на диске
# form_master.to_excel("visits_5.xlsx", sheet_name='beauty_visits')

# Downloading and Preprocessing Data

In [ ]:
df = pd.read_excel('visits_3.xlsx', index_col=0)
df.head()

In [ ]:
df.columns

In [ ]:
df.shape

In [ ]:
df.dtypes

## Main Function

In [4]:
# $$$$$$$$$$$$$$$$$$$$$$$$$$$$          FUNCTION BEAUTY SALON          $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
# Функция считывает файл, 
# переименовывает колонки, 
# преобразует колонку 'Дата и время' в формат DATETIME, 
# сохраняет результат в новый файл.

def beauty_test(file_name):
    df = pd.read_excel(file_name, index_col=0)
    df = df \
    .rename(columns={'Дата визита': 'date',
                     'Время визита': 'time',
                     'Откуда узнали': 'knowledge_source',
                     'Частота посещений': 'visit_frequency',
                     'Персонал': 'staff_rating',
                     'Процедуры': 'procedures',
                     'Оценка услуги': 'service_quality',
                     'Оценка цен': 'price_rating',
                     'Предложения': 'offers',
                     'Пол': 'gender',
                     'Возраст': 'age',
                     'Статус': 'social_status',
                     'Доход': 'income_level',
                     'Дата и время': 'date_time'})
    
# convert the string column to a Timedelta column
    df['date_time'] = pd.to_datetime(df['date_time'], format="%d.%m.%Y %H:%M:%S")

    return df

In [5]:
beauty = beauty_test('visits_3.xlsx')

In [6]:
beauty.head(3)

,date,time,knowledge_source,visit_frequency,staff_rating,procedures,service_quality,price_rating,offers,gender,age,social_status,income_level,date_time
520,01.10.2024,08:00:44,Соц.сети,Один раз в неделю,Неприятный,"Косметолог, Педикюр, Лешмейкер, Бровист",1,Высокие,Сделайте Wi-Fi в салоне,Мужской,от 18 до 25,Служащий,от 30 тысяч до 100 тысяч,2024-10-01 08:00:44
257,01.10.2024,08:22:18,Соц.сети,Несколько раз в неделю,Нейтральный,"Бровист, Массаж, Лешмейкер, Маникюр",3,Приемлемые,Нет замечаний,Женский,от 18 до 25,Служащий,от 30 тысяч до 100 тысяч,2024-10-01 08:22:18
7,01.10.2024,08:32:44,Соц.сети,Несколько раз в месяц,Приятный,Лешмейкер,1,Низкие,Сложно записаться на выходные дни,Женский,от 26 до 35,Рабочий,более 100 тысяч,2024-10-01 08:32:44

In [7]:
beauty.shape

(777, 14)

### 1. Все что связано с процедурами

In [1]:
# Формула дублирует строки, в которых есть данные, перечисленные через запятую.

# Количество дублированных строк равно
# числу перечисленных через запятую значений в одном из столбцов.
res_procedures = beauty.assign(procedures=beauty['procedures'].str.split(", ")).explode('procedures')
res_procedures.head()

NameError: name 'beauty' is not defined

#### Общее количество процедур